/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/components/css/iconfont.css ***!
  \***************************************************************************************************************/
@import url(https://at.alicdn.com/t/font_2926647_ybwqsv8l8q.css);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/components/css/iconfont.css (1) ***!
  \*******************************************************************************************************************/


/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/components/css/popup.css ***!
  \************************************************************************************************************/

.popup__popup--ohxNp {
    position: fixed;
    z-index: 10;
    border: 1px #ccc solid;
}
.popup__popup-title--qL8v3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #ccc;
}
.popup__popup-title--qL8v3 h3{
    font-size: 18px;
    margin-left: 20px;
}
.popup__popup-title--qL8v3 i{
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}
.popup__popup-content--g4xOh {
    height: calc(100% - 40px);
    background-color: #fff;
}
.popup__mask--psq9H {
    background-color: #000;
    opacity: 0.5;
}
